<!DOCTYPE html>
<html>
<head>
  <title>Indispect</title>
  <%= stylesheet_link_tag    "home", :media => "all" %>
  <%= javascript_include_tag "home" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "shared/header" %>
<%= yield %>
</body>
</html>